*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
}

body {
    background-color: green;
}

.wrapper {
    width: 450px;
    background-color: greenyellow;
    padding: 70px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.646);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    align-items: center;
    gap: 20px;
}

.wrapper h3 {
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.container {
    width: 80%;
}

input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #d2d2d2;
    outline: none;
    margin-top: 8px;
    padding: 0 10px;
}

btn-group {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

button:nth-child(2) {
    background-color: #f44336; /* Reset button red */
}
button:hover {
    background-color: #45a049;
}


